<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bills</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
		crossorigin="anonymous">
		<style>
			.action{
				display: flex;
				margin: auto;
			}
			
		</style>
</head>
<body>
	<header class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
		    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		    	<ul class="navbar-nav">
		    		<li class="nav-item">
		          		<a class="nav-link" href="/accountant">Về trang kế toán</a>
		        	</li>
		        	<li class="nav-item">
		          		<a class="nav-link" href="/logout">Đăng xuất</a>
		        	</li>
		      	</ul>
		    </div>
		</div>
	</header>
	
	<div class = "container">
		<div class = "row">
			<h1>List Bill</h1>
		</div>
		<a th:href = "@{/bill/add}"
			class = "btn btn-success">Payment To Partner</a> 
			
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr> 
					<th> Tên Đối Tác</th>
					<th> Địa Chỉ</th>
					<th> Số CCCD</th>
					<th> Số Điện Thoại</th>
					<th> Ngày Thanh Toán </th>
					<th> Tổng Số Tiền </th>
					<th> Action </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "bill : ${bills}">
					<td th:text = "${bill.partner.people.name}"></td>
					<td th:text = "${bill.partner.people.address}"> </td>
					<td th:text = "${bill.partner.people.idenNumber}"> </td>
					<td th:text = "${bill.partner.people.phoneNumber}"> </td>
					<td th:text = "${bill.time}"> </td>
					<td th:text = "${bill.totalMoney}"> </td>
					<td class="action"> <a th:href = "@{/bill/{id} (id = ${bill.id})}"
							class = "btn btn-success"> View </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>